@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

body {
  background-color: #2a2a2a;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: white;
}

.text, footer {
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
  font-size: 20px;
}

.logo {
  width: 70%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.caption, ul li {
  width: 50%;
  font-size: 16px;
}

h1, h2 {
  font-weight: lighter;
  color: #ff2b2a;
}

h2 {
  padding-top: 20px;
}

#barChart, #bubbleChart{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

svg {
  padding-top: 20px;
  padding-bottom: 10px;
}

#bubbleSvg, #barSvg{
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ff2b2a;
}

a:hover {
  color: white;
}

.centered {
  text-align: center;
  margin-bottom: 40px;
}

footer {
  line-height: 2px;
}

footer .logo {
  width: 50%;
  padding-right: 30px;
  padding-top: 50px;
  max-width: 200px;
}
